* {
    text-align: center;
    font-size: 1.25rem;
    padding: .25rem;
}

h1 {
    font-size: 2rem;
    color: #AEDCD5;
}

.center {
    width: 30%;
    margin: auto;
}

.rounded {
    border-radius: .5rem;
}